<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Background updates:</string>
			<key>Key</key>
			<string>allowBackgroundUpdates</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Default email:</string>
			<key>Key</key>
			<string>defaultEmail</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Minutes to idle:</string>
			<key>Key</key>
			<string>maxIdleTime</string>
			<key>DefaultValue</key>
			<string>20</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Seconds between updates:</string>
			<key>Key</key>
			<string>updateInterval</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Connect points: </string>
			<key>Key</key>
			<string>showRouteLines</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<string>YES</string>
			<key>FalseValue</key>
			<string>NO</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
